:root {
  /* Dark-Mode with deep-magenta primary color and purple secondary color */
  --primary-color: #8d1cf7;
  --secondary-color: #fc0db0;
  --background-color: #121212;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.text-accent {
  color: var(--secondary-color);
}
.text-primary {
  color: var(--primary-color);
  text-shadow: 1px 1px 2px darkslategray;
}

/* Nav */
nav {
  display: flex;
  width: 100%;
  position: fixed;
  height: 5vh;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 0 2rem;
  align-items: center;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

main {
  position: fixed;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  scroll-behavior: auto;
  scroll-snap-align: start;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
}

main * {
  transition: all 0.3s ease;
}

section {
  display: static;
  height: 89vh;
  min-height: 89vh;
  background-size: cover;
  scroll-snap-align: start;
  padding-top: 1rem;
  padding-inline: 2rem;
  justify-content: center;
  align-items: center;
}

section.hero {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  place-items: center;
  gap: 2rem;
}

section.hero .hero-text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

section.hero .hero-text h1,
h2 {
  margin: 0 auto;
  font-weight: 400;
  text-wrap: nowrap;
}

section.hero .hero-text h1 {
  font-size: 3em;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  margin: 2rem;
  font-size: 1.2em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  width: 40ch;
}

.hero-text p::before {
  content: "“";
  font-size: 2em;
  color: var(--secondary-color);
}

.hero-text p::after {
  content: "”";
  font-size: 2em;
  color: var(--secondary-color);
}

.hero img {
  max-height: 100%;
  max-width: 500px;
  object-fit: contain;
  border-radius: 15px;
  min-width: 200px;
}

section.skills {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

section.skills > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

section.skills > ul > li {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

section.skills > ul > li .skill-shadow {
  background-color: rgba(102, 102, 102, 0.2);
  border-radius: 1rem;
  width: 100%;
}

section.skills > ul li .skill-bar {
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  font-style: italic;
  color: #fff7fa;
  text-shadow: 1px 1px 2px darkslategray;
}

section.skills > ul li .skill-bar > span.value::after {
  content: " %";
  font-size: 1.1em;
}

section.timeline {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

section.project-cards {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

section.project-cards ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  list-style: none;
  gap: 2rem;
  padding: 0;
  justify-content: center;
  align-items: center;
}

section.project-cards ul li {
  background-color: var(--primary-color);
  border-radius: 15px;
  box-shadow: 4px 4px 10px var(--primary-color);
}

section.project-cards ul li img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

section.project-cards ul li *:not(img) {
  margin-inline: 1rem;
}

section.project-cards ul li :last-child {
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 1rem;
  background-color: rgba(255, 19, 137, 0.8);
}

@media screen and (max-width: 1100px) {
  main > section.hero#hero {
    grid-template-columns: 0.5fr 1fr;
  }
  section.hero .hero-text {
    font-size: 1em;
  }
  section.hero .hero-text p {
    width: 30ch;
  }
  .hero img {
    max-width: 300px;
  }
}
@media screen and (max-width: 840px) {
  section.hero .hero-text {
    font-size: 0.9em;
  }
  section.hero .hero-text h1 {
    font-size: 2.5em;
  }
  section.hero .hero-text h2 {
    font-size: 1.5em;
  }
  section.hero .hero-text p {
    width: 25ch;
  }
  section.hero img {
    max-width: 100%;
  }

  section.project-cards ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  section.project-cards ul li {
    width: 300px;
  }
}
